---
layout: default
title: Physical Web on OpenBeacon
social_tags: physical-web,BLE
nobackbtn: true
---
<article>
	<header>
		<h1>{{ page.title }}</h1>
	</header>

	<section>
		{% capture index_main %}{% include index_main.md %}{% endcapture %}
		{{ index_main | markdownify }}
	</section>

	<footer>
<!--	<h2>Further information</h2> -->
		<ul>
		{% for post in site.posts %}
			<li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
		{% endfor %}
		</ul>
	</footer>

</article>

<aside>
	{% capture index_aside %}{% include index_aside.md %}{% endcapture %}
	{{ index_aside | markdownify }}
</aside>
