<svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   version="1.1"
   width="40"
   height="40"
   id="svg2816"
   xml:space="preserve"><title
     id="title2901">Flattr-Logo</title><metadata
     id="metadata916"><rdf:RDF><cc:Work
         rdf:about=""><dc:format>image/svg+xml</dc:format><dc:type
           rdf:resource="http://purl.org/dc/dcmitype/StillImage" /><dc:title>Flattr-Logo</dc:title></cc:Work></rdf:RDF></metadata><defs
     id="defs2820"><linearGradient
       x1="0"
       y1="0"
       x2="1"
       y2="0"
       id="linearGradient2840"
       gradientUnits="userSpaceOnUse"
       gradientTransform="matrix(0,659.54947,659.54947,0,446.43194,-310.47208)"
       spreadMethod="pad"><stop
         id="stop2842"
         style="stop-color:#ea5f29;stop-opacity:1"
         offset="0" /><stop
         id="stop2844"
         style="stop-color:#fabd1f;stop-opacity:1"
         offset="1" /></linearGradient><linearGradient
       x1="0"
       y1="0"
       x2="1"
       y2="0"
       id="linearGradient2860"
       gradientUnits="userSpaceOnUse"
       gradientTransform="matrix(0,-659.54707,-659.54707,0,495.98902,298.36119)"
       spreadMethod="pad"><stop
         id="stop2862"
         style="stop-color:#abd33c;stop-opacity:1"
         offset="0" /><stop
         id="stop2864"
         style="stop-color:#6cb02f;stop-opacity:1"
         offset="1" /></linearGradient><clipPath
       id="clipPath2872"><path
         d="m 0,595.276 841.89,0 L 841.89,0 0,0 0,595.276 z"
         id="path2874" /></clipPath></defs><g
     transform="matrix(0.25538729,0,0,-0.25538729,-20.66774,101.03097)"
     id="g2826"><g
       transform="translate(3.4274813,7.3601302)"
       id="g2828"><g
         id="g2830"><g
           id="g2836"><g
             id="g2838"><path
               d="m 135.377,382.484 c -34.431,0 -52.004,-19.863 -52.004,-56.949 l 0,0 0,-25.906 0,-51.899 33.728,33.817 0,39.523 c 0,15.364 4.065,25.141 17.702,27.336 l 0,0 c 4.764,0.933 14.679,0.606 20.983,0.606 l 0,0 0,-23.467 c 0,-0.214 0.029,-0.596 0.084,-0.792 l 0,0 c 0.264,-0.95 1.122,-1.646 2.138,-1.648 l 0,0 c 0.575,-0.001 1.113,0.298 1.668,0.846 l 0,0 58.45,58.524 -39.234,0.009 -43.515,0 z"
               id="path2846"
               style="fill:url(#linearGradient2840);stroke:none" /></g></g></g></g><g
       transform="translate(3.4274813,7.3601302)"
       id="g2848"><g
         id="g2850"><g
           id="g2856"><g
             id="g2858"><path
               d="m 194.523,338.305 0,-39.522 c 0,-15.364 -4.066,-25.142 -17.702,-27.337 l 0,0 c -4.764,-0.932 -14.679,-0.605 -20.983,-0.605 l 0,0 0,23.466 c 0,0.213 -0.029,0.596 -0.084,0.792 l 0,0 c -0.264,0.951 -1.121,1.646 -2.138,1.648 l 0,0 c -0.575,0.002 -1.113,-0.298 -1.668,-0.845 l 0,0 -58.45,-58.524 39.234,-0.009 43.515,0 c 34.431,0 52.004,19.863 52.004,56.948 l 0,0 0,25.907 0,51.898 -33.728,-33.817 z"
               id="path2866"
               style="fill:url(#linearGradient2860);stroke:none" /></g></g></g></g><g
       transform="translate(3.4274813,7.3601302)"
       id="g2868"><g
         clip-path="url(#clipPath2872)"
         id="g2870"><g
           transform="translate(500.0391,266.1826)"
           id="g2876" /><g
           transform="translate(413.1797,243.7695)"
           id="g2880" /><g
           transform="translate(622.29,276.9707)"
           id="g2884" /><g
           transform="translate(364.2563,361.6123)"
           id="g2888" /><g
           transform="translate(756.458,336.3027)"
           id="g2892" /><g
           transform="translate(547.0293,276.9873)"
           id="g2896" /></g></g></g></svg>