<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>
	<meta name="author" content="{{ site.name }}" />
	<meta name="description" content="{{ site.description }}" />

	<meta name="viewport" content="width=device-width,initial-scale=1">

	<!-- "Fork me on github" banner -->
	<link rel="stylesheet" href="/css/gh-fork-ribbon.css">
	<!--[if lt IE 9]>
		<link rel="stylesheet" href="/css/gh-fork-ribbon.ie.css">
	<![endif]-->

	<link rel="stylesheet" href="/css/style.css">
	<link type="application/atom+xml" rel="alternate" href="/feed.xml" />

	<!-- Get a nice font -->
	<link href="http://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet" type="text/css" />

	<script src="/js/libs/xregexp-min.js"></script>
	<script src="/js/libs/modernizr-2.0.6.min.js"></script>

	<!-- Load Syntax Highlighter -->
	<link type="text/css" rel="stylesheet" href="/js/libs/syntax/styles/shCoreDefault.css"/>
	<link type="text/css" rel="stylesheet" href="/js/libs/syntax/styles/shThemeRDark.css"/>
	<script type="text/javascript" src="/js/libs/syntax/shCore.js"></script>
	<script type="text/javascript" src="/js/libs/syntax/shBrushCpp.js"></script>
	<script type="text/javascript" src="/js/libs/syntax/shBrushBash.js"></script>
	<script type="text/javascript" src="/js/libs/syntax/shBrushPlain.js"></script>
	<script type="text/javascript">SyntaxHighlighter.all()</script>

</head>
<body>
	<div class="github-fork-ribbon-wrapper right">
		<div class="github-fork-ribbon">
			<a href="https://github.com/meriac/openbeacon-ng">Fork me on GitHub</a>
		</div>
	</div>

	<div id="header-container">
		<header class="wrapper clearfix">
			<a id="title" href="/">{% include logo.html %}</a>
			<nav>
				<ul>
					<li><a href="/device.html"><h2>Device</h2></a></li>
					<li><a href="/source/"><h2>Source</h2></a></li>
					<li><a href="/about/"><h2>About</h2></a></li>
				</ul>
			</nav>
		</header>
	</div>

	<div id="main-container">
		<div id="main" class="wrapper clearfix">
			{{ content }}
		</div>
	</div>

	<div id="footer-container">
		<footer class="wrapper">
			{% include svg-icons.html %}
		</footer>
	</div>

</body>
</html>
